<h2>Customers</h2>
<ul>
    <% @customers.each do |customer| %>
        <li><a href="<%= customers_path(id: customer) %>"><%= customer.name %></a></li>
    <% end %>
</ul>

<button><a href="<%= new_customers_path %>">New</a></button>