<div class="customer-index">
    <%= form_with url: '/customers/fetch' do |form| %>
        <%= form.select :customer_id, customer_select, {}, {id: 'customer_select_2', class: 'form-control lead-form-input-style', required: true} %>
        <button class="btn btn-success" type="submit">Search</button>
        <a href="<%= new_customers_path %>"><button class="btn btn-warning" style="margin-left: 30px;">Add New</button></a>
    <% end %>
    <div class="pt-5">
        <%= render "customers/show", customer: @customer if @customer.present? %>
    </div>
</div>