/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 a {
  text-decoration: none!important;
  color: unset!important;
 }

 .sidebar ul {
    list-style-type: none;
 }

 .sidebar ul li a:hover {
  color: #FFB02F;
}

 .sidebar ul li {
  padding: 10px
}

.sidebar ul li span{
  padding-right: 5px
}

 .sidebar a {
    text-decoration: none;
    color: rgb(255, 255, 255)!important;
 }

 .sidebar .brand{
    padding: 30px 10px;
    text-align: center;
 }

 .sidebar {
   width: 250px;
   height: 100%;
   position: fixed;
   background-color: #4D1C0D;
 }

 .main-inner{
   margin-left: 250px;
 }

 .main-inner .form-style {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-left: auto;
   margin-right: auto;
 }

 .main-inner .form-style input {
   width: 400px;
 }

 .main-inner .profile-info {
   display: flex;
   justify-content: flex-end;
   align-items: center;
 }

 .main-inner nav{
   display: flex;
   align-items: center;
   background-color: #FFF8ED;
   padding: 20px 10px;
   width: -webkit-fill-available;
 }

 .profile-info img{
  width: 40px;
 }

 .profile-info span{
  padding-left: 20px;
 }

 .main-content{
  background-color: #FFF8ED;
  min-height: 100vh;
 }

 .index-leads{
  padding: 20px;
 }

 .filter-flex img {
  width: 30px;
  cursor: pointer;
 }

 .filter-flex{
  display: flex;
  align-items: center;
 }

 .filter-flex .filter-button{
  background-color: #fff;
  padding: 3px;
  border-radius: 5px;
  margin-left: 20px;
 }

 .filter-flex .filter-button .close-filter{
  cursor: pointer;
 }

 .index-leads-list .lead-tile .info .flexer{
  display: flex;
  align-items: center;
 }

 .index-leads-list .lead-tile .info .flexer-right{
  display: flex;
  align-items: center;
  justify-content: right;
 }

 .index-leads-list .lead-tile .info{
  display: flex;
  align-items: center;
  min-height: 121px;
  border-left: 5px solid #FFB02F;
  background-color: #fff;
 }

 .index-leads-list .lead-tile .info .alignment{
  background-color: #fff;
  padding: 0px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
 }

 .index-leads-list .lead-tile .status{
  padding: 20px;
  min-height: inherit;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  width: min-content;
 }

 .status-bg-default{
  background-color: #FFB02F;
 }

 .status-bg-red{
  background-color: red;
 }

 .index-leads-list .lead-tile {
  margin: 20px 0px;
 }

 .right-align{
  text-align: right;
 }

 .padding-right-1{
  padding-right: 1rem;
 }

 .padding-right-2{
  padding-right: 2rem;
 }

 .padding-left-1{
  padding-left: 1rem;
 }

 .padding-bottom-2{
  padding-bottom: 2rem;
 }

 .lead-h3{
  font-size: 26px;
  color: #4D1C0D;
 }

 .lead-dull{
  font-size: 12px;
  color: #575757; 
 }

 .lead-text{
  color: #4D1C0D;
 }

 .leads-show{
  padding: 20px!important;
 }

 .lead-customer{
  background-color: #fff;
  padding: 20px;
  border-radius: 20px;
 }

 .lead-activity{
  background-color: #fff;
  padding: 20px;
  border-radius: 20px;
  margin-top: 20px;
 }

 .lead-order{
  background-color: #fff;
  padding: 20px;
  border-radius: 20px;
 }

 .lead-buttons{
  padding: 20px;
  border-radius: 20px;
  text-align: center;
 }

 .border-botto{
  width: 90%;
  margin-bottom: 10px;
  padding-bottom: 10px;
 }

 .edit-button {
  padding: 10px 00px;
  background-color: #FFB02F;
  cursor: pointer;
  color: #4D1C0D;
  margin: 10px;
  border: 2px solid #FFB02F;
 }

 .edit_button{
  padding: 10px 30px;
  background-color: #fff;
  cursor: pointer;
  color: #4D1C0D;
  margin: 10px;
  border: 2px solid #FFB02F;
 }

 .delete-button {
  padding: 10px 30px;
  background-color: red;
  cursor: pointer;
  color: #4D1C0D;
  margin: 10px;
}

 .button-div{
  margin-top: 20px;
 }

 .lead-form{
  padding: 20px;
 }

 .lead-form-input{
  margin-bottom: 20px;
 }

 .lead-form-input-style{
  width: 80%!important;
 }

 .select2-selection__rendered {
  line-height: 31px !important;
}
.select2-container .select2-selection--single {
  height: 35px !important;
}
.select2-selection__arrow {
  height: 34px !important;
}

.back-button{
  padding: 10px 30px;
  background-color: #fff;
  cursor: pointer;
  margin: 20px 0px;
  border: 1px solid #FFB02F;
  border-radius: 5px;
  width: fit-content;
}

.back-button a{
  color: #4D1C0D;
}

.customer-show{
  padding: 20px;
}

.flexer{
  display: flex;
  align-items: center;
}

.cursor-pointer{
  cursor: pointer;
}

.margin-right-auto{
  margin-right: auto;
}

.add-new-position{
  margin-right: 20%;
  cursor: pointer;
}

.flexer-space-between{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cutomer-info{
  background-color: #fff;
  padding: 25px;
  border-radius: 20px;
}

.customer-form{
  padding: 20px;
}

.customer-index{
  padding: 20px;
}

.customer-tile{
  padding: 20px;
  background-color: #fff;
  margin-bottom: 10px;
  border-radius: 20px;
  color: #4D1C0D!important;
}

.index-leads .dropdown-menu li{
  
}

.ticket-action-green{
  padding: 10px 30px;
  background-color: green;
  color: #fff!important;
  cursor: pointer;
  margin: 10px;
}

.ticket-actions{
  margin-top: 30px;
}

.lead-status-style select{
  width: -webkit-fill-available;
  margin: 10px;
  border: 2px solid #FFB02F;
  border-radius: 0px!important;
}

.status-icons-div{
  display: none;
  justify-content: flex-end;
  margin-right: 10px;
}

.bootstrap-check-icon{
  background-color: green;
  color: #fff;
  padding: 6px 8px;
  margin: auto 2px;
  cursor: pointer;
}

.bootstrap-close-icon{
  background-color: red;
  color: #fff!important;
  padding: 6px 10px;
  margin: auto 2px;
  cursor: pointer;
}

.report-tile{
  background-color: #fff;
  padding: 20px;
  border-radius: 20px;
  margin: 15px;
}
.filter-buttons-space {
  margin-top: 30px;
}
.filter-buttons button{
  border: 1px solid #FFB02F;
  background-color: #fff;
  border-radius: 5px;
  margin-right: 10px;
}
.filter-buttons button:hover{
  background-color: #FFB02F;
}

.bg-orange{
  background-color: #FFB02F!important;
}

.chart-styles-div{
  margin: 30px 0px;
}