<div class="index-leads">
    <h2>Monthly Report - <%= last_month %></h2>
    <div class="flexer">
        <div class="report-tile">
            <div class="lead-h3">New Customers</div>
            <div><%= @new_customers.count %></div>
        </div>
        <div class="report-tile">
            <div class="lead-h3">Total Orders</div>
            <div><%= @orders.count %></div>
        </div>
        <div class="report-tile">
            <div class="lead-h3">Total Happy Customers</div>
            <div><%= @customers_count %></div>
        </div>
    </div>
</div>