<div class="index-leads">
    <div class="flexer-space-between">
        <h2>Work Index</h2>
    </div>
    <div>
        <ul>
            <li>
                Rainbow Printers
                <div id="rainbowPrintersDropdown">
                    <div class="card-body">
                        Website: <a target="_blank" href="http://rainbowprinters.co.in" style="color: #0d6efd!important">rainbowprinters.co.in</a>
                    </div>
                </div>
            </li>
            <li>
                Rainbow Corporate Gifting
                <div class="card-body">
                    Website: <a target="_blank" href="http://rainbowcorporategifting.com" style="color: #0d6efd!important">rainbowcorporategifting.com</a>
                </div>
            </li>
            <li>Urbanefforts
                <div class="card-body">
                    Website: <a target="_blank" href="http://urbanefforts.com" style="color: #0d6efd!important">urbanefforts.com</a>
                </div>
            </li>
            <li>Treasure Hunt Project
                <div class="card-body">
                    Website: Coming Soon
                </div>
            </li>
            <li>CRM Project
                <div class="card-body">
                    Website: Coming Soon
                </div>
            </li>
            <li>GiftCorp
                <div class="card-body">
                    Website: Coming Soon
                </div>
            </li>
            <li>Potzilla
            <div class="card-body">
                Website: <a target="_blank" href="http://potzilla.in" style="color: #0d6efd!important">potzilla.in</a>
            </div>
            </li>
        </ul>
    </div>
</div>